# Node
node_modules/

# Build
dist/
build/
dist/assets/

# Env
.env
.env.*

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Capacitor Android
android/.gradle/
android/local.properties
android/app/build/
android/*

# Capacitor iOS
ios/Pods/
ios/build/
ios/*

# TypeScript
*.tsbuildinfo
.opencode
